@model List<CrudTarefa.Models.Tarefa>

<h1>Lista de Tarefas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome da Tarefa</th>
            <th>Concluída</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarefa in Model)
        {
            <tr>
                <td>@tarefa.NomeTarefa</td>
                <td>@(tarefa.Concluida ? "Sim" : "Não")</td>
                <td>
                    @if (!tarefa.Concluida)
                    {
                        <a asp-action="MarkAsConcluida" asp-route-id="@tarefa.TarefaId">Marcar como Concluída</a>
 |
                    < a asp - action = "Edit" asp - route - id = "@tarefa.TarefaId" > Editar </ a > |
                    < a asp - action = "Details" asp - route - id = "@tarefa.TarefaId" > Detalhes </ a > |
                    < a asp - action = "Delete" asp - route - id = "@tarefa.TarefaId" > Excluir </ a >
                    }
                    else
                    {
                        <a asp-action="MoveToExecuting" asp-route-id="@tarefa.TarefaId">Mover para Executando</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Adicionar Nova Tarefa</a>
<a asp-action="Executing">Tarefas em Execução</a>
<a asp-action="Concluidas">Tarefas Concluídas</a>
